.text-align-centre {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.text-align-right {
    margin: 0 auto;
    width: 100%;
    text-align: right;
}

.c-4-12 {
    width: percentage(4/12);
    float: left;
}

.c-6-12 {
    width: percentage(6/12);
    float: left;
}